header h1 {
  font-size: 4rem;
  color: rgb(119, 177, 244);
  background-color: rgb(0, 255, 162);
  background-size: cover;
  padding: 20px 30px;
  text-align: center;
}
@media (max-width: 600px) {
  header {
    padding: 50px 30px;
  }
  header h1 {
    font-size: 1.5rem;
  }
}

.imgDiv {
  max-width: 1100px;
  max-height: 1100px;
  overflow: scroll;
  margin: auto;
}

p {
  color: rgb(43, 135, 239);
  font-size: 2rem;
  text-align: center;
  margin: auto;
}

iframe {
  border: 1px solid black;
  width: 100%;
}

a {
  font-size: 1.5rem;
  text-align: center;
}
